@charset "utf-8";

//fuentes
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

//colores primarios de la empresa
$abo-green: #31B404;
$abo-green-dark: #137F3F;
$scheme-main: hsl(0, 0%, 100%);

//variables
$family-sans-serif:'Montserrat', sans-serif;
$navbar-item-hover-background-color: $abo-green;
$navbar-item-hover-color: $scheme-main;
$navbar-item-color: $abo-green;
$primary: $abo-green;
$navbar-item-img-max-height: 3rem;

//estilos globales
.test{
    width: 100px;
    height: 100px;
    // background: url("../img/insta1.PNG");
}


//archivos propios
@import "./consejos.scss";

//importamos bulma
@import "bulma/bulma";