.seccion-nosotros{
    margin-bottom: 700px;
}

.contenedor-nosotros{
    position: absolute;
    top: 450px;
}

.texto-nosotros{
    background: $scheme-main;
    border-radius: 50px;
}

@media only screen and (max-width: 700px){
    .contenedor-nosotros{
        top: 150px;
    }
}